<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta Pasta Frola</title>
    <link rel="stylesheet" href="../Assets/css/estilos.css">
  </head>
  <body>
    <header>
      <a class="logo__container" href="#">
        <img src="../Assets/img/gorrocheflogo.png" alt="LOGO">
      </a>

      <nav>
        <ul class="fuenteSegoe tamaño20px">
          <li class="pestaña"><a href="#">Quienes somos</a></li>
          <li class="pestaña"><a href="#">Galería</a></li>
          <li class="pestaña"><a href="#">Contacto</a></li>
        </ul>
      </nav>
   </header>

   <main>
     <section class="seccion_A">
       <div class="intro__container">
         <h1 class="colorGris fuenteSegoe">Pasta Frola</h1>
         <p class="tamaño20px">A la hora de disfrutar algo rico en familia o con amigos nada como una rica y fácil pasta frola. </p>
       </div>

       <div class="pastafrola">
         <img src="../Assets/img/pastafrola4.jpg" alt="Imagen Pasta Frola">
       </div>
     </section>

     <section class="seccion_B">
       <div class="receta__container">
         <h2 class="colorGris tamaño25px fuenteSegoe">RECETA</h2>

         <h3 class="colorGris fuenteSegoe">Ingredientes</h3>

         <ul class="tamaño20px fuenteArial"> <!-- Lista de ingredientes -->
           <li>125 gr manteca</li>
           <li>125 gr azúcar</li>
           <li>1 huevo</li>
           <li>250 gr harina leudante</li>
           <li>600 gr dulce de membrillo</li>
           <li>ralladura de 1/2 limón</li>
           <li>esencia de vainilla</li>
        </ul>

         <h4 class="colorGris fuenteSegoe">Procedimiento</h4>

        <ol class="tamaño16px fuenteArial interlineado">
          <li>Colocar la manteca y azúcar en un bol. Mezclar hasta incorporar completamente.</li>
          <li>Agregar ralladura de limón, el huevo y la esencia de vainilla. Integrar.</li>
          <li>Agregar la harina leudante y formar un bollo.</li>
          <li>Envolver en papel film y llevar a la heladera mínimo 2 horas.</li>
          <li>Retirar de la heladera. Espolvorear mesa y bollo con harina.</li>
          <li>Con 3/4 partes de la masa estirar y forrar un molde de 26 o 28 cm de diámetro.</li>
          <li>Esparcir el membrillo y formar encima un enrejado con el cuarto de masa restante</li>
          <li>Finalmente, hornear a 190° durante 25 minutos aproximadamente.</li>
       </ol>

       </div>
     </section>

     <section class="articulo__container">
       <h5 class="colorGris fuenteSegoe tamaño20px">Membrillo o Batata? El dilema del relleno</h5>
       <p class="tamaño16px fuenteArial">La pastafrola es una tarta artesanal típica de la gastronomía Argentina que, por lo general, se compone de una masa cubierta con dulce de membrillo,<br> aunque también pueden utilizarse otros rellenos como el dulce de batata.<br>Para no dejar de lado ninguno, Paulina Cocina nos muestra una Pastafrola Inclusiva, con ambos rellenos.</p>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/NfX-AHIyiBM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

       <p class="tamaño16px fuenteArial">Para más recetas visita <a href="https://www.paulinacocina.net/" target="_blank">el sitio de Paulina!</a>
         <br>
       <br>También podes descargar los <a href="https://drive.google.com/file/d/1R9U1K7sjIqJcvDN58xsInksHWZcbJSJ_/view?usp=sharing" download="Pasos" target="_blank">pasos de la receta</a> publicada, ilustrado con imágenes.</p>

     </section>



</main>

<footer>
     <div class="redes__container tamaño16px fuenteArial">
       Seguinos en nuestras redes!
       <a class="Twitter" href="#"><img id="TW" src="../Assets/img/TW.png" alt="Twitter"></a>
       <a class="Instagram" href="#"><img id="IG" src="../Assets/img/IG.png" alt="Instagram"></a>
       <a class="YouTube" href="#"><img id="YT" src="../Assets/img/YT.png" alt="YouTube"></a>
     </div>

     <div class="mapa__container">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210147.15276714793!2d-58.57339194755109!3d-34.61555761660386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3d05457fbb%3A0xe160f4fce7f7c017!2sBuenos%20Aires!5e0!3m2!1ses!2sar!4v1620174219104!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>

      <span>Copyright Potrero Digital 2021 LucianaCorrea_Tarea3 </span>

    </footer>



  </body>
</html>
